<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <%- include('partial/head.ejs') %>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Skelbimo kūrimas</h1>

    <!-- show any messages that come back with authentication -->

    <!-- LOGIN FORM -->
    <form action="/post" method="post" enctype="multipart/form-data">
      <div class="form-group">
          <label>Sukurta</label>
          <input type="text" class="form-control" value="<%= user.local.email %>" readonly>
      </div>
      <div class="form-group">
          <label>Testo Pavadinimas</label>
          <input type="text" class="form-control" name="postname">
      </div>
      <div class="form-group">
          <label>Testo aprašymas</label>
          <input type="text" class="form-control" name="postdesc">
      </div>
      <hr>
        <% if(klcount) { %>
          <% for (var i=0; i < klcount; i++) { %>
            <div class="form-group">
              <label>Klausimas Nr. <%= i %></label>
              <div class="form-group">
                <input type="text" class="form-control" name="question[]">
              </div>
              <div class="form-group">
                
              </div>
            </div>
          <% } %>
        <% } %>
      <hr>

      <button type="submit" class="btn btn-warning btn-lg" value="upload">Įkelti</button>
    </form>
    <hr>
    


    <hr>

</div>

</div>
</body>
</html>
