<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <%- include('partial/head.ejs') %>
</head>
<body>
<div class="container">
  <h1 style="text-align: center;">Moodle 2.0</h1>
  <div class="jumbotron text-center">
    <h1><span class="fa fa-lock"></span> Prisijungimas</h1>

    <p>Prisijunkite arba Registruokites:</p>

    <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Prisijungimas</a>
    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Registracija</a>
  </div>

</div>

<div class="container">

</div>
</body>
</html>
