<html>
<head>
  <%- include('partial/head.ejs') %>
</head>

<body>
<div class="container">

<%- include('partial/lectures.ejs') %>
<button type="button" class="btn btn-primary" onclick="location.href = '/profile';">Atgal</button>

</div>
</body>
</html>
