<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
  <%- include('partial/head.ejs') %>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="fa fa-sign-in"></span> Uzduoties pateikimas</h1>

        <form action="/requestStudentFile" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label>Nuo</label>
                <input type="text" class="form-control" value="<%= user.local.email %>" readonly>
            </div>

            <div class="form-group">
                <label>Kam</label><br>
                <select name="receiver">
                <% usersList.forEach(function(fUser) { %>
                    <% if(fUser.local.userType === 'student') { %>
                    <option value="<%= fUser._id %>" > <%= fUser.local.email%> </option>
                <% }}) %>
                </select>
            </div>

            <div class="form-group">
                <label>Pavadinimas</label>
                <input type="text" class="form-control" name="postname">
            </div>

            <div class="form-group">
                <label>Aprasymas</label><br>
                <textarea rows="5" cols="60" name="postdesc"></textarea>
            </div>

            <div class="form-group">
                <label>Atlikti iki:</label><br>
                <input type="date" class="form-control" name="dateuntil">
            </div>
            
            <button type="submit" class="btn btn-warning btn-lg" value="upload">Siusti</button>
        </form>

        <hr>

    </div>

</div>
</body>
</html>
